<div class="row">
    <div class="col-lg-4 col-md-5 col-sm-6 col-xs-12">

        <nav>
            <ul class="pager">
                <li>
                    <a class="btn btn-default pull-left" onclick="self.location='#/calendar'">Back</a>
                </li>
                <li>
                    <button type="button" class="btn btn-default pull-right" data-toggle="modal" data-target="#signUpModal">Sign up!</button>
                </li>
            </ul>
        </nav>

        <!-- Event Details -->
        <img class="img-responsive" ng-src="{{calendarDetail.event.pictureurl}}" alt="{{calendarDetail.event.title}}">

        <h3>{{calendarDetail.event.title}}</h3>

        <span class="glyphicon glyphicon-time main-color"></span>
        <span class="event-heading">DATE & TIME</span>
        <p>{{calendarDetail.event.eventDate | date:'dd.MM.yyyy'}}</p>

        <span class="glyphicon glyphicon-map-marker main-color"></span>
        <span class="event-heading">LOCATION</span>
        <p>{{calendarDetail.event.location}}</p>

        <span class="glyphicon glyphicon-user main-color"></span>
        <span class="event-heading">ORGANISER</span>
        <p>{{calendarDetail.event.organiser}}</p>

        <span class="glyphicon glyphicon-piggy-bank main-color"></span>
        <span class="event-heading">BOOKABLE HOURS</span>
        <p>{{calendarDetail.event.bookablehours}}h</p>

        <span class="glyphicon glyphicon-info-sign main-color"></span>
        <span class="event-heading">DESCRIPTION</span>
        <p class="event-description">{{calendarDetail.event.description}}</p>

        <span class="glyphicon glyphicon-ok-circle main-color"></span>
        <span class="event-heading">PARTICIPANTS ({{calendarDetail.event.participants.length}})</span>
        <p>{{calendarDetail.event.participants.join(", ")}}</p>

        <!-- Signup modal -->
        <div id="signUpModal" class="modal fade" role="dialog">
            <div class="modal-dialog modal-sm">
                <div class="modal-content">
                    <div class="modal-header">
                        <button type="button" class="close" data-dismiss="modal">&times;</button>
                        <h4><span class="glyphicon glyphicon-edit"></span> Sign up</h4>
                    </div>
                    <div class="modal-body">
                        <form role="form" name="signUpForm">
                            <div class="form-group">
                                <label for="name"><span class="glyphicon glyphicon-user"></span> Participant Name</label>
                                <input
                                        type="text"
                                        id="name"
                                        class="form-control #signupInput"
                                        placeholder="Enter your name.."
                                        ng-model="signUpName"
                                        pattern=".{2,40}"
                                        title="Your name must be between 2 and 40 characters long."
                                        required>
                            </div>
                            <button type="submit" class="btn btn-success btn-block" ng-click="submitSignUpForm(signUpName)">
                                <span class="glyphicon glyphicon-check"></span> Register me!
                            </button>
                        </form>
                    </div>
                </div>
            </div>
        </div>

    </div>
</div>